* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ysabeau Infant', sans-serif;
}


.banner {
  width: 100%;
  height: 100vh;
}


.banner .banner-video{
  position: relative;
}

.banner .banner-video video{
  width: 100%;
}

.banner .banner-link-logo{
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
}



.banner-logo {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-logo .banner-title{
  color: #fff;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .banner-title h1{
  text-shadow: 3px 3px 1px #000000;
}


.banner .banner-title h1::before{
  content: "";
  position: absolute;
  width: 35px;
  height: 5px;
  background: linear-gradient(90deg, #ffdf00, #009c3b);
  top: 275px;
  border-radius: 4px;
}

.banner-logo .banner-title img{
  margin-top: 10px;
  width: 15px;
  height: 15px;
}




.banner-logo .neymar-img{
  position: absolute;
  top: 7px;
  left: 575px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  gap: 20px;
}

.banner-logo::before{
  content: "";
  width: 215px;
  height: 215px;
  border-radius: 100%;
  background: linear-gradient(90deg, #ffdf00, #009c3b);
}

.banner .banner-links{
  position: relative;
  width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 0px auto;
}


.banner .links-banner{
  width: 100%;
}

.banner .links-banner img{
  position: absolute;
  left: 10px;
}


 .banner .banner-links a{
  padding: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #00000093;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.banner .banner-links img{
  width: 30px;
  height: 30px;
}

.banner .banner-links a:hover{
  background-color: #fff;
  color: #000000;
  font-weight: bold;
}

.estatisticas {
  background-image: url('assets/imagem-de-fundo.jpg');
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 150px;
}





.estatisticas h2{
  text-shadow: 3px 6px 1px #000000;
  color: #fff;
  margin: 30px;
}


.estatisticas table tr td{
  position: relative;
}


.estatisticas table th{
  padding: 20px;
  background-color: #000000cc;
  color: #fff;
}

.estatisticas table td{
  text-align: center;
  padding: 20px;
}

.estatisticas table span{
  margin-left: 10px;
}

.estatisticas table img{
  position: absolute;
  left: 6px;
  width: 20px;
  height: 20px;
}
.estatisticas table tr:nth-child(odd) {
  background-color: #ffffffd2;
}



table tr:nth-child(even) {
  color: #fff;
  background-color: #000000cc;
}
